@import url('https://fonts.googleapis.com/css?family=Saira+Condensed');
@import url('https://fonts.googleapis.com/css?family=Princess+Sofia');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: #333;
	color: red;
	font-family: 'Quicksand', sans-serif;
	/* TEST */
	text-align: justify;
}

p {
	text-indent: 5%;
}

a {
	text-decoration: none;
}

.container {
	margin: 10px auto;
	width: 75%;
}

/* HEADER */
header,footer {
	font-family: 'Saira Condensed';
}

header img {
	height: 64px;
}

header h1 {
	padding: 5px;
	margin: 0 0 0 25px;
	font-family: 'Princess Sofia', cursive;
	background: url('img/header_background.png');
	background-size: contain;
	color: #811a5b;
}

nav,footer {
	background: #c3c3c3;
}

nav ul {
	padding: 0;
	margin: 0 auto;
	list-style-type: none;
	display: flex;
	justify-content: center;
}

nav h2 {
	font-weight: normal;
	margin: 0;
	font-size: 1.1em;
}

nav li a {
	padding: 7px 14px;
	display: inline-block;
	text-transform: uppercase;
	color: #333;
}

nav li a:hover{
	color: #000;
}

#menu {
	width: 32px;
	height: 32px;
	border: 1px solid #555555;
	border-radius: 10px;
	display: none;
	float: left;
}

#menu .bar {
	display: block;
	width: 50%;
	border: 1px solid #555555;
	margin: 6px auto;
}

/* CONTENT */
.content {
	font-size: 0.9em;
	color: #666;
}

.banner {
	height: 50%;
	background: #fff url('../img/background.jpeg') no-repeat fixed;
	background-size: cover;
	display: flex;
}

.banner p {
	font-weight: bold;
	margin: auto;
	font-size: 3em;
	color: #000;
	text-align: center;
	width: 100%;
}

.card {
	border-radius: 4px;
	border: 1px solid #7e7e7e;
	margin-bottom: 15px;
	background: #f3f3f3;
}

.card:after {
	content: '';
	clear: both;
	display: block;
}

.card p {
	margin: 10px 0;
}

.card-body {
	padding: 0 14px;
}

.card img {
	width: 100%;
	border-radius: 4px;
	border: 3px solid #e9e9e9;
	box-sizing: border-box;
}

.btn {
	display: block;
	float: right;
	border: 1px solid #000;
	border-radius: 4px;
	padding: 7px;
	margin-bottom: 10px;
	color: #000;
}

.btn-green {
	color: #19ff19;
	border-color: #19ff19;
	background: #b2ffb2;
}

.btn-red {
	color: #ff1919;
	border-color: #ff1919;
	background:  #ff9999;
}

.btn-blue {
	color: blue;
	border-color: blue;
}

.btn-yellow {
	color: #ffff19;
	border-color: #ffff19;
	background:  #ffffb2;
}

iframe {
	width: 100%;
	height: auto;
}

footer {
	text-align: center;
	color: #000;
	font-size: 0.75em;
}

@media all and (max-width: 599px) {
	header {
		border-bottom: 2px solid #c3c3c3;
	}

	#menu {
		display: block;
		position: absolute;
		cursor: pointer;
	}

	nav {
		display: none;
	}

	nav ul {
		display: block;
	}

	nav li a {
		padding: 7px 0;
		width: 100%;
		text-align: center;
	}

	h1 {
		display: none;
	}

	header img {
		margin: 0 auto;
	}
}
@media all and (min-width: 600px) and (max-width:799px){}
@media all and (min-width: 800px) and (max-width:1024px){}
@media all and (min-width: 700px) and (max-width: 1024px){}
@media all and (min-width: 1025px) and (max-width: 1399px){}
@media all and (min-width: 1400px){}